@using Dominio

@{
	ViewBag.Title = "Inicio Sesión";
}

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger text-center my-1">@ViewBag.Error</div>
}

<div class="d-flex justify-content-center align-items-center pt-3 pb-5">
	<div class="card card-registro">
		<form method="post" action="~/Home/Index">
			<h5 class="text-center">Iniciar Sesión</h5>

			<div class="form-group mb-3">
				<label>Email</label>
				<input type="email" name="correo" class="form-control" />
			</div>

			<div class="form-group mb-3">
				<label>Contraseña</label>
				<input type="password" name="password" class="form-control" />
			</div>

			<button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
		</form>
	</div>
</div>










