@using Dominio
@model Cliente

<div class="card pt-3 pb-5" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Documento</li>
        <li class="list-group-item">@Model.Nombre</li>
        <li class="list-group-item">@Model.Correo</li>
    </ul>
</div>
